<nav class="navbar">
  <a href="/"><img class="logo" src="/images/logo.png" alt="Vodka"></a>
  <span class="w3-hide-small w3-hide-medium">
    <input id="search-box" type="text" class="w3-input" placeholder="Search...">
    <i class="fa fa-search"></i>
  </span>
  <a class="github-button" href="https://github.com/insionng/vodka" data-icon="octicon-star" data-style="mega" data-count-href="/insionng/vodka/stargazers" data-count-api="/repos/insionng/vodka#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star insionng/vodka on GitHub">
    Star
  </a>
  <span class="w3-xxlarge w3-hide-large" onclick="openSidenav()">&#9776;</span>
</nav>
